@import '../../assets/scss/vars.scss';

.slider-wrapper{
    // background-color: blue;
    height: 100%;
    position: relative;
    user-select: none;
    .slider-holder{
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        transition: $transition;
        background-size: cover;
        @include bek-flex(center,row);
        align-items: center;
        &.left-position{
            @include bek-flex(flex-start,row);
            align-items: center;
        }
        &.center-position{
            @include bek-flex(center,row);
            align-items: center;
        }
        &.right-position{
            @include bek-flex(flex-end,row);
            align-items: center;
        }
        .slider-content{
            @include bek-flex(center,column);
            align-items: center;
            background-color: #1212128f;
            transition: transform 1s;
            margin: 80px;
            padding: 50px;
            text-align: center;
            min-width: 35%;
            border-radius: 50px 0 50px;
            // height: 100%;
            .slider-content-title{
                font-size: 2.5rem;
                margin-bottom: 20px;
            }
            .slider-content-subtitle{
                font-size: 1.5rem;
                margin-bottom: 20px;
            }
            .slider-content-btn{
                @include bek-btn;
                margin: 0;
            }
        }
    }
    .slider-arrow{
        position: absolute;
        color: $iconColor;
        font-size: 2.5rem;
        cursor: pointer;
        &:hover{
            color: #a5270e;
        }
        &.left{
            top: 40%;
            transform: translate(0, 50%);
            left: 40px;
        }
        &.right{
            top: 40%;
            transform: translate(0, 50%);
            right: 40px;
        }
    }
    .slider-nav{
        @include bek-flex(center, row);
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 20px;
        .slider-nav-dot{
            font-size: .8rem;
            @include bek-flex(center, row);
            align-items: center;
            cursor: pointer;
            margin: 0 5px;
            &:first-child{
                font-size: .6rem;
            }
            &:last-child{
                font-size: .6rem;
            }
            &.active-dot{
                color: $iconColor;
                // transform: scale(1.3);
            }
        }
    }
    .slider-impression{
        // background-color: red;
        @include bek-flex(space-between, row);
        align-items: center;
        .slider-impression-title{
            @include bek-flex(flex-start, row);
            align-items: center;
            text-align: center;
            text-transform: capitalize;
            margin-right: 20px;
            .slider-impression-title-icon{
                @include bek-flex(center, center);
                color: $iconColor;
                font-size: 3rem;
                margin-right: 10px;
                // @include bek-rotate(5s, infinite, linear);
            }
        }
        .slider-impression-nav{
            // flex: 1;
            margin: 0 20px;
            @include bek-flex(center, column);
            align-items: center;
            .slider-impression-nav-dot{
                font-size: 1rem;
                align-items: center;
                cursor: pointer;
                margin: 5px 0;
                transition: .3s ease-in;
                &.active-dot{
                    color: $iconColor;
                }
            }
        }
        .slider-impression-holder{
            flex: 3;
            @include bek-flex(space-between, row);
            align-items: center;
            flex-wrap: nowrap;
            .slider-impression-holder-image{
                transition: .3s ease-out;
                padding: 80px;
                height: 130px;
                width: 130px;
                border-radius: 50%;
                margin: 0 20px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .slider-impression-holder-text{
                padding: 0 20px;
                q{
                    letter-spacing: .1rem;
                    line-height: 1.8rem;
                }
                h3{
                    margin: 10px 0;
                    color: $iconColor;
                    letter-spacing: .15rem;
                }
            }
        }
    }
}