@import '../../assets/scss/vars.scss';

.card-slider-wrapper{
    // background-color: chocolate;
    user-select: none;
    padding: 30px;
    position: relative;
    .card-slider-header{
        margin-bottom: 20px;
        @include bek-flex(space-between, row);
        align-items: center;
        .card-slider-header-title{
            @include bek-flex(flex-start, row);
            align-items: center;
            h2{
                font-size: 1.4rem;
                text-transform: capitalize
            }
            span{
                @include bek-flex(flex-start, row);
                align-items: center;
                color: $iconColor;
                font-size: 1.8rem;
                margin-right: 1rem;
            }
        }
        .card-slider-header-btns{
            .arrow{
                font-size: 2.3rem;
                background-color: $secondBackground;
                width: 50px;
                margin-left: 10px;
                padding: 5px 0;
                cursor: pointer;
                transition: $transition;
                &:hover{
                    transform: scale(1.03);
                    color: $iconColor;
                }
            }
        }
    }
    .card-slider-holder{
        flex: 1;
        @include bek-flex(space-between, row);
        gap: 10px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
        // animation: slider-scroll 40s linear infinite;
        & > div {
            max-width: 300px;
            min-width: 300px;
        }
        &::-webkit-scrollbar{
            display: none;
        }
        // &:hover{
        //     animation-play-state: paused;
        // }

        // @keyframes slider-scroll {
        //     0% {
        //         transform: translateX(0);
        //     }
        //     100% {
        //         transform: translateX(0);
        //     }
        // }
    }
    .card-slider-holder-image{
        flex: 1;
        @include bek-flex(space-between, row);
        gap: 20px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-behavior: smooth;
        padding: 5px 0;
        scrollbar-width: none;
        .card-slider-holder-image-container{
            max-width: 500px;
            min-width: 500px;
            box-shadow: 0 0 4px 3px $secondBackground;
            transition: $transition;
            &:hover{
                box-shadow: 0 0 5px 2px $firstFontColor;
                transform: scale(1.01);
            }
            .card-slider-holder-image-slide{
                background-position: center;
                background-repeat: no-repeat;
                transition: $transition;
                background-size: cover;
                height: 250px;
            }
            .card-slider-holder-image-badge{
                margin-top: -15px;
                height: 45px;
                width: 180px;
                background-color: $iconColor;
                @include bek-flex(center, column);
                align-items: center;
                margin-bottom: 15px;
                letter-spacing: .15rem;
                box-shadow: 1px 1px 4px 2px $secondBackground;
            }
            .card-slider-holder-image-title{
                font-size: 1.3rem;
                letter-spacing: .15rem;
                padding: 0 15px 15px;
                text-transform: capitalize;
            }
            .card-slider-holder-image-publisher{
                @include bek-flex(space-between, row);
                padding: 0 15px 15px;
                .publisher-name{
                    color: $iconColor;
                    font-style: italic;
                    letter-spacing: .15rem;
                }
            }
            
        }
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .card-slider-sponsors-arrow{
        position: absolute;
        color: $iconColor;
        font-size: 2rem;
        cursor: pointer;
        background-color: $secondBackground;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        @include bek-flex(center,column);
        align-items: center;
        // opacity: .9;
        box-shadow: 0 0 2px 2px $secondFontColor;
        transition: $transition;
        &:hover{
            opacity: .8;
        }
        &.left{
            top: 30%;
            transform: translate(0, 50%);
            left: 15px;
        }
        &.right{
            top: 30%;
            transform: translate(0, 50%);
            right: 15px;
        }
    }
    .card-slider-sponsors-holder{
        flex: 1;
        @include bek-flex(space-between, row);
        // gap: 20px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
        border-radius: 15px;
        margin: 0 10px;
        img{
            width: 25%;
        }
        .card-slider-sponsors-holder-img{
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            height: 200px;
            // min-width: 200px;
            max-width: 300px;
            background-position: center;
            background-repeat: no-repeat;
            transition: $transition;
            background-size: cover;
            // &:hover{
            //     transform: scale(1.02);
            // }
        }
        &::-webkit-scrollbar{
            display: none;
        }
    }
}