@import "../../assets/scss/vars.scss";
.login-wrapper{
    @include bek-flex(center, column);
    @include container;
    .login-form{
        @include bek-flex(center, column);
        align-items: center;
    }
    form{
        input{
            @include input-style;
            background-color: $secondBackground;
            color: $firstFontColor;
        }
        .form-btn{
            @include bek-btn;
        }
    }
}