@import "../../assets/scss/vars.scss";
.login-wrapper{
    @include bek-flex(center, column);
    @include container;
    .login-form{
        @include bek-flex(center, column);
        align-items: center;
    }
    form{
        font-size: 1.2rem;
        .login-form-input{
            @include input-style;
            margin-bottom: 15px;
            width: 300px;
            background-color: $secondBackground;
            color: $firstFontColor;
            text-align: center;
            &.required{
                border: 1px solid $iconColor;
            }
        }
        .form-btn{
            @include bek-btn;
        }
    }
}