@import '../../assets/scss/vars.scss';
@import '../../assets/scss/include-media.scss';

.sidebar-wrapper{
    background-color: $secondBackground;
    // padding: 20px 0px;
    width: 25%;
    .sidebar-main-title{
        background-color: $secondFontColor;
        padding: 10px;
        text-align: center;
        h4{
            color: $iconColor;
        }
    }
    .sidebar-meni{
        @include bek-flex(flex-start, column);
        .sidebar-meni-titles{
            cursor: pointer;
            font-size: 1.3rem;
            transition: $transition;
            text-transform: uppercase;
            padding: 10px 20px;
            text-decoration: none;
            color: $firstFontColor;
            &:hover{
                background-color: $secondFontColor;
            }
            &.active{
                color: $iconColor;
            }
        }
    }
}

@include media("<=phone"){
    .sidebar-wrapper{
        width: 20%;
        .sidebar-main-title{
            display: none;
        }
        .sidebar-meni{
            align-items: center;
            .sidebar-meni-titles{
                // font-size: 1.5rem;
                padding: 10px;
                color: $firstFontColor;
                span{
                    display: none;
                }
            }
        }
    }
}

@include media(">phone", "<=tablet"){
    .sidebar-wrapper{
        width: 20%;
        .sidebar-main-title{
            display: none;
        }
        .sidebar-meni{
            align-items: center;
            .sidebar-meni-titles{
                font-size: 1.5rem;
                padding: 10px;
                color: $firstFontColor;
                span{
                    display: none;
                }
                &:hover{
                    background-color: transparent;
                }
            }
        }
    }
}