@import '../../assets/scss/vars.scss';

.sidebar-wrapper{
    background-color: $secondBackground;
    // padding: 20px 0px;
    width: 25%;
    .sidebar-main-title{
        background-color: $secondFontColor;
        padding: 10px;
        text-align: center;
        h4{
            color: $iconColor;
        }
    }
    .sidebar-meni{
        @include bek-flex(flex-start, column);
        .sidebar-meni-titles{
            cursor: pointer;
            font-size: 1.3rem;
            transition: $transition;
            text-transform: uppercase;
            padding: 10px 20px;
            text-decoration: none;
            color: $firstFontColor;
            &:hover{
                background-color: $secondFontColor;
            }
            &.active{
                color: $iconColor;
            }
        }
    }
}