@import '../../assets/scss/vars.scss';

.dashboard-wrapper{
    .dashboard-view{
        padding: 0 10px;
        @include bek-flex(flex-start, row);
        .dashboard-details{
            .dashboard-details-title{
                background-color: $secondBackground;
                height: 64px;
            }
            background-color: $secondFontColor;
            width: 75%;
        }
    }
}