@import '../../assets/scss/vars.scss';

.dashboard-wrapper{
    .dashboard-view{
        @include bek-flex(flex-start, row);
        height: 100vh;
        .dashboard-details{
            background-color: $secondFontColor;
            width: 70%;
        }
    }
}