@import "../../assets/scss/vars.scss";

.dropdown-wrapper{
    user-select: none;
    // background-color: aquamarine;
    position: relative;
    .dropdown-meni{
        .dropdown-btn{
            font-size: 1.3rem;
            margin-left: 7px;
            transition: $transition;
            cursor: pointer;
            &:hover{
                transform: scale(1.15);
                color: $iconColor;
            }
        }
        .dropdown-content{
            // padding: 5px;
            box-shadow: 0px 0px 5px 2px $secondFontColor;
            background-color: $iconColor;
            width: 200px;
            position: absolute;
            right: -16px;
            margin-top: 5px;
            z-index: 1000;
            text-align: center;
            color: $firstBackground;
            font-weight: 800;
            border-radius: 5px;
            .dropdown-item{
                padding: 15px 10px;
                text-transform: uppercase;
                transition: $transition;
                border-bottom: 1px solid $secondFontColor;
                p{
                    width: 100%;
                    font-size: 1rem;
                }
                &:hover{
                    color: $firstBackground;
                    background-color: $firstFontColor;
                    border-radius: 5px;
                }
            }
        }
    }
}