@import "../../assets/scss/vars.scss";

.dropdown-wrapper{
    user-select: none;
    // background-color: aquamarine;
    position: relative;
    .dropdown-meni{
        .dropdown-btn{
            font-size: 1.3rem;
            margin-left: 7px;
            transition: $transition;
            cursor: pointer;
            &:hover{
                transform: scale(1.15);
                color: $iconColor;
            }
        }
        .dropdown-content{
            padding: 5px;
            background-color: $iconColor;
            max-width: 300px;
            position: absolute;
            right: -16px;
            margin-top: 5px;
            z-index: 10;
            .dropdown-item{
                padding: 5px 10px;
                text-transform: uppercase;
                &:hover{
                    color: $firstBackground;
                }
            }
        }
    }
}