@import '../../assets/scss/vars.scss';

.rating-stars-wrapper{
    width: 100%;
    text-align: center;
    .stars{
        margin: 5px 0;
        color: black;
        .star{
            font-size: 1.3rem;
            margin: 0 4px;
            color: yellow;
        }
    }
}