@import "../../assets/scss/vars.scss";

.shop-cart-wrapper{
    position: relative;
    user-select: none;
    z-index: 20;
    .shop-cart{
        // &.show-badge{
        //     display: block;
        // }
        margin: 0 10px;
        .shop-cart-icon{
            cursor: pointer;
            font-size: 1.5rem;
            color: $secondFontColor;
            transition: $transition;
            &:hover{
                transform: scale(1.08);
            }
        }
        .shop-cart-badge{
            // display: none;
            font-size: 0.6rem;
            position: absolute;
            right: -7px;
            top: -5px;
            background-color: $iconColor;
            border-radius: 50%;
            padding: 2px 7px;
            color: white;
        }
        .shop-cart-container{
            position: absolute;
            width: 350px;
            max-height: 250px;
            top: 35px;
            background-color: $iconColor;
            border-radius: 5px;
            padding: 2px;
            overflow: scroll;
            overflow-x: hidden;
            .shop-cart-item{
                @include bek-flex(start, row);
                align-items: center;
                padding: 5px;
                color: $firstFontColor;
                transition: $transition;
                &:not(:last-child){
                    border-bottom: 1px solid $firstFontColor;
                }
                &:hover{
                    background-color: $secondBackground;
                }
                .shop-cart-item-img{
                    flex: 1;
                    img{
                        width: 90%;
                        padding: 5px;
                    }
                }
                .shop-cart-item-info{
                    flex: 2;
                    margin: 0 20px;
                    @include bek-flex(space-evenly,column);
                }
                .shop-cart-item-btns{
                    @include bek-flex(start, row);
                    margin: 0 15px 0 5px;
                    .shop-cart-item-updown{
                        @include bek-flex(space-between,column);
                        align-items: center;
                        .shop-cart-item-updown-icon{
                            font-size: 1rem;
                            cursor: pointer;
                            transition: $transition;
                            &:hover{
                                color: yellowgreen;
                            }
                            &.minus{
                                &:hover{
                                    color: $iconColor;
                                }
                            }
                        }
                        .shop-cart-item-updown-count{
                            margin: 3px 0;
                        }
                    }
                }
                .shop-cart-item-trash{
                    padding-right: 5px;
                    cursor: pointer;
                    transition: $transition;
                    &:hover{
                        color: $iconColor;
                    }
                }

            }
        }
        
    }
}