@import '../../assets/scss/vars.scss';
@import '../../assets/scss/include-media.scss';

.contact-wrapper{
    // background-color: red;
    // @include bek-flex(center, column);
    // align-items: center;
    margin: 0 auto;
    @include container;
    color: $secondFontColor;
    h2{
        text-align: center;
        letter-spacing: .3rem;
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 25px;
    }
    .contact-header{
        @include bek-flex(space-between, row);
        align-items: center;
        padding: 50px 20px;
        .contact-header-phone{
            flex: 1;
            padding: 10px;
            @include bek-flex(center, column);
            align-items: center;
            &:not(:last-child){
                border-right: 3px solid $iconColor;
            }
            .header-icon{
                color: $iconColor;
                font-size: 2.5rem
            }
            .header-title{
                padding: 20px 0;
                font-size: 1.3rem;
                font-weight: 600;
                letter-spacing: .3rem;
                text-transform: uppercase;
                color: $iconColor;
            }
            p{
                letter-spacing: .1rem;
                padding: 5px;
            }
        }
    }
    .contact-main{
        @include bek-flex(center, column);
        text-align: center;
        p{
            text-transform: uppercase;
            padding: 10px;
            font-weight: 600;
        }
        .contact-main-form{
            padding: 30px;
            @include bek-flex(center, column);
            align-items: center;
            .contact-main-form-input{
                @include input-style;
                width: 50%;
                margin-bottom: 20px;
                &.require{
                    border: 1px solid red;
                }
            }
            button{
                @include bek-btn;
            }
        }
    }
    .contact-footer{
        text-align: center;
        padding: 30px;
        .contact-footer-social{
            svg{
                color: $iconColor;
                font-size: 2.5rem;
                margin: 15px;
            }
        }
    }
}

@include media("<=phone"){
    .contact-wrapper{
        width: 100%;
        h2{
            letter-spacing: .1rem;
            font-size: 1rem;
            margin-bottom: 5px;
        }
        .contact-header{
            @include bek-flex(space-between, column);
            align-items: center;
            padding: 20px 0;
            border-bottom: 1px solid $iconColor;
            .contact-header-phone{
                flex: 1;
                padding: 10px;
                @include bek-flex(center, column);
                align-items: center;
                &:not(:last-child){
                    border: none;
                }
                .header-icon{
                    font-size: 2rem
                }
                .header-title{
                    padding: 10px 0;
                    font-size: 1rem;
                    letter-spacing: .1rem;
                }
                p{
                    letter-spacing: .1rem;
                    padding: 2px 0;
                }
            }
        }
        .contact-main{
            margin-top: 15px;
            p{
                padding: 5px;
            }
            .contact-main-form{
                padding:10px;
                .contact-main-form-input{
                    width: 90%;
                    margin-bottom: 10px;
                }
                button{
                    @include bek-btn-responsive;
                }
            }
        }
        .contact-footer{
            padding: 10px;
            .contact-footer-social{
                svg{
                    font-size: 2rem;
                    margin: 10px;
                }
            }
        }
    }
}

@include media(">phone", "<=tablet"){
    .contact-wrapper{
        width: 100%;
        h2{
            letter-spacing: .1rem;
            font-size: 1.2rem;
            margin-bottom: 5px;
        }
        .contact-header{
            @include bek-flex(space-between, column);
            align-items: center;
            padding: 20px 0;
            border-bottom: 1px solid $iconColor;
            .contact-header-phone{
                flex: 1;
                padding: 10px;
                @include bek-flex(center, column);
                align-items: center;
                &:not(:last-child){
                    border: none;
                }
                .header-icon{
                    font-size: 2rem
                }
                .header-title{
                    padding: 10px 0;
                    font-size: 1rem;
                    letter-spacing: .1rem;
                }
                p{
                    letter-spacing: .1rem;
                    padding: 2px 0;
                }
            }
        }
        .contact-main{
            margin-top: 15px;
            p{
                padding: 5px;
            }
            .contact-main-form{
                padding: 20px 10px;
                .contact-main-form-input{
                    width: 90%;
                    margin-bottom: 10px;
                }
                button{
                    @include bek-btn-responsive;
                }
            }
        }
        .contact-footer{
            padding: 10px;
            .contact-footer-social{
                svg{
                    font-size: 2rem;
                    margin: 10px;
                }
            }
        }
    }
}

@include media(">=tablet", "<desktop"){
    .contact-wrapper{
        .contact-header{
            @include bek-flex(space-between, column);
            align-items: center;
            .contact-header-phone{
                &:not(:last-child){
                    border: none;
                }
            }
        }
        .contact-main{
            .contact-main-form{

                .contact-main-form-input{
                    width: 70%;
                }

            }
        }
    }
}