@import "../../assets/scss/vars.scss";

.auth-wrapper{
    @include bek-flex(center, column);
    .auth-btns{
        @include bek-flex(center, row);
        .auth-btn-p{
            cursor: pointer;
            transition: $transition;
            &:hover{
                color: $iconColor;
            }
        }
    }
}