@import "../../../assets/scss/vars.scss";

.order-process-step-one-wrapper{
    background-color: $secondBackground;
    .order-one-table{
       width: 100%;
       border-collapse: collapse;
       text-align: center;
       user-select: none;
       thead{
        color: $iconColor;
        font-size: 1.2rem;
        background-color: $firstBackground;
        tr{
            th{
                padding: 20px 0;
            }
        }
       }
       tbody{
        tr{
            &:nth-child(odd){
                background-color: gray;
            }
            .order-table-counter{
                .order-table-counter-num{
                    margin: 0 auto;
                    text-align: center;
                }
            }
            .order-table-price{
                margin: 0 auto;
                width: 80px;
            }
            td{
                padding: 5px 0;
                .minus-plus{
                    cursor: pointer;
                    margin: 7px 0;
                    &:hover{
                        color: $secondFontColor;
                    }
                }
                .step-one-trash{
                    margin-right: 15px;
                    cursor: pointer;
                    transition: $transition;
                    &:hover{
                        color: $iconColor;
                        transform: scale(1.3);
                    }
                }
            }
        }
        
       }
    }
}