@import '../../assets/scss/vars.scss';
@import '../../assets/scss/include-media.scss';


.cookie-wrapper{
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10000;
    @include bek-flex(center,column);
    align-items: center;
    user-select: none;
    overflow: hidden;
    .cookie-content{
        width: 50%;
        padding: 25px;
        background-color: $firstBackground;
        @include bek-flex(space-between, column);
        align-items: center;
        box-shadow: 0 0 2px 1px $firstFontColor;
        .cookie-content-header{
            @include bek-flex(center, column);
            align-items: center;
            h3{
                margin: 10px 0;
                text-transform: uppercase;
            }
            .cookie-logo{
                font-size: 3rem;
                @include bek-rotate(5s, infinite, linear);
            }
        }
        .cookie-content-text{
            @include bek-flex(space-between, column);
            align-items: center;
            padding: 15px 20px;
            .cookie-content-text-{
                margin: 5px 0;
                text-align: center;
                // font-size: 1.1rem;
                // letter-spacing: 1px;
                &.one{
                    line-height: 25px;
                }
                &.two{
                    text-transform: uppercase;
                    font-size: 1.1rem;
                    font-weight: 500;
                    line-height: 30px;
                    color: $iconColor;
                }
                &.three{
                    line-height: 25px;
                }
            }
        }
        .cookie-content-btns{
            width: 100%;
            @include bek-flex(space-between, row);
            button{
                @include bek-btn;
                margin: 0;
            }
            .accept-btn{
                background-color: yellowgreen;
            }
        }
    }
}

@include media("<=phone"){
    .cookie-wrapper{
        // background-color: rgba(0, 0, 0, 0.9);
        // background-color: rgba(255, 0, 0, 0.6);
        font-size: 1rem;
        .cookie-content{
            width: 95%;
            padding: 10px;
            .cookie-content-header{
                h3{
                    text-align: center;
                    margin: 0;
                }
                .cookie-logo{
                    font-size: 2rem;
                    margin-bottom: 10px;
                }
            }
            .cookie-content-text{
                padding: 15px;
                .cookie-content-text-{
                    margin: 2px 0;
                    &.one{
                        line-height: normal;
                    }
                    &.two{
                        font-size: 1rem;
                        line-height: normal;
                    }
                    &.three{
                        line-height: normal;
                    }
                }
            }
            .cookie-content-btns{
                margin-top: 15px;
                width: 100%;
                button{
                    @include bek-btn-responsive;
                }
            }
        }
    }
}
@include media(">phone", "<=tablet"){
    .cookie-wrapper{
        // background-color: rgba(0, 0, 0, 0.9);
        // background-color: rgba(255, 255, 255, 0.6);
        font-size: 1rem;
        .cookie-content{
            width: 95%;
            padding: 10px;
            .cookie-content-header{
                h3{
                    text-align: center;
                    margin: 0;
                }
                .cookie-logo{
                    font-size: 2rem;
                    margin-bottom: 10px;
                }
            }
            .cookie-content-text{
                padding: 15px;
                .cookie-content-text-{
                    margin: 2px 0;
                    &.one{
                        line-height: normal;
                    }
                    &.two{
                        font-size: 1rem;
                        line-height: normal;
                    }
                    &.three{
                        line-height: normal;
                    }
                }
            }
            .cookie-content-btns{
                margin-top: 15px;
                width: 90%;
                button{
                    @include bek-btn-responsive;
                }
            }
        }
    }
}
@include media(">=tablet", "<desktop"){
    .cookie-wrapper{
        // background-color: rgba(0, 0, 0, 0.9);
        // background-color: rgba(0, 0, 255, 0.6);
        .cookie-content{
            width: 90%;
        }
    }
}
