@import '../../assets/scss/vars.scss';

.stats-box-wrapper{
    color: $iconColor;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    height: 200px;
    width: 45%;
    background-color: $secondBackground;
    @include bek-flex(center, column);
    align-items: center;
}