@import "../../assets/scss/vars.scss";
@import "../../assets/scss/include-media.scss";


@include media("<=phone"){
    .modal-wrapper{
        font-size: .7rem;
        width: 100%;
        padding: 0;
        height: 95vh;
        .modal-footer{
            .modal-footer-btn{
                @include bek-btn-responsive;
            }
        }
    }
}

@include media(">phone", "<=tablet"){
    .modal-wrapper{
        font-size: .7rem;
        width: 100%;
        padding: 0;
        height: 95vh;
        .modal-footer{
            .modal-footer-btn{
                @include bek-btn-responsive;
            }
        }
    }
}