@import '../../assets/scss/vars.scss';

.subscribe-me-wrapper{
    // background-color: darkblue;
    @include bek-flex(center, column);
    padding: 50px;
    align-items: center;
    .subscribe-me-icon{
        color: $iconColor;
        font-size: 6rem;
    }
    .subscribe-me-info{
        text-align: center;
        h3{
            margin-bottom: 20px;
            font-size: 1.4rem;
            letter-spacing: .15rem;
        }
        p{
            margin-bottom: 20px;
            color: $secondFontColor;
            font-size: .8rem;
            letter-spacing: .1rem
        }
    }
    .subscribe-me-email{
        @include bek-flex(center, column);
        align-items: center;
        .subscribe-me-email-input{
            margin-bottom: 10px;
            @include input-style;
            width: 100%;
            height: 50px;
            padding-left: 30px;
            background-color: transparent;
            &::placeholder{
                font-weight: 400;
            }
            &:focus{
                background-color: $secondBackground;
                color: $firstFontColor;
            }
            &.required{
                border: 1px solid $iconColor;
            }
        }
        .subscribe-me-btn{
            @include bek-btn;
            text-transform: capitalize;
            padding: 15px 40px;
        }
    }
}