@import '../../assets/scss/vars.scss';

.categories-wrapper{
    background-color: $secondBackground;
    @include bek-flex(space-between, row);
    margin: 10px 0;
    .categories-card{
        @include bek-flex(flex-start, row);
        align-items: center;
        flex: 1;
        padding: 10px 50px;
        cursor: pointer;
        transition: $transition;
        font-weight: 600;
        &:hover{
            background-color: $secondFontColor;
            color: $firstBackground;
        }
        .categories-card-img{
            // background-color: $secondFontColor;
            img{
                height: 100px;
                width: 100%;
            }
        }
        .categories-card-title{
            margin-left: 30px;
            font-size: 1.1rem;
            text-transform: uppercase;
            color: $firstFontColor;
        }
    }
}

@include media("<=phone"){
    .categories-wrapper{
        .categories-card{
            padding: 10px 5px;
            font-weight: 500;
            .categories-card-img{
                width: 100%;
                img{
                    height: 80px;
                }
            }
            .categories-card-title{
                display: none;
            }
        }
    }
}

@include media(">phone", "<=tablet"){
    .categories-wrapper{
        .categories-card{
            padding: 10px 5px;
            font-weight: 500;
            .categories-card-img{
                width: 100%;
                img{
                    height: 80px;
                }
            }
            .categories-card-title{
                display: none;
            }
        }
    }
}