@import "../../assets/scss/vars.scss";

.footer-wrapper{
    background-color: $secondBackground;
    @include bek-flex(center, column);
    margin-top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    .footer-hr{
        margin: 0;
        height: .01rem;
        border: none;
        color: $iconColor;
        background-color: $iconColor;
    }
    .footer-top{
        @include bek-flex(space-evenly, row);
        padding: 50px;
        p{
            margin: 0;
            padding: 6px 0;
            cursor: pointer;
            transition: $transition;
        }
        .footer-top-shipping{
            @include bek-flex(space-between, row);
            align-items: center;
            .footer-top-shipping-image{
                @include bek-flex(center,column);
                background-color: $secondFontColor;
                border-radius: 50%;
                height: 5rem;
                width: 5rem;
                align-items: center;
                .footer-icon{
                    color: $iconColor;
                    font-size: 2rem;
                }
            }
            .footer-top-shipping-info{
                padding-left: 20px;
                p:nth-child(even){
                    color: $secondFontColor;
                    &:hover{
                        color: $firstFontColor;
                    }
                }
                p:nth-child(odd){
                    color: $firstFontColor;
                    &:hover{
                        color: $secondFontColor;
                    }
                }
            }
        }
        .footer-top-gift{
            @extend .footer-top-shipping;
            .footer-top-gift-image{
                @extend .footer-top-shipping-image;
            }
            .footer-top-gift-info{
                @extend .footer-top-shipping-info;
            }
        }
        .footer-top-support{
            @extend .footer-top-shipping;
            .footer-top-support-image{
                @extend .footer-top-shipping-image;
            }
            .footer-top-support-info{
                @extend .footer-top-shipping-info;
            }
        }
        .footer-top-payment{
            @extend .footer-top-shipping;
            .footer-top-payment-image{
                @extend .footer-top-shipping-image;
            }
            .footer-top-payment-info{
                @extend .footer-top-shipping-info;
            }
        }

    }
    .footer-main{
        @include bek-flex(space-evenly, row);
        padding: 40px;
        text-transform: capitalize;

        h4{
            font-size: 1.4rem;
            cursor: pointer;
            transition: $transition;
            &:hover{
                &::after{
                    display: block;
                    content: "";
                    width: 70%;
                    height: 2px;
                    margin: 8px 0 15px;
                    background: $iconColor;
                }
            }
            &::after{
                display: block;
                content: "";
                width: 30%;
                height: 2px;
                margin: 8px 0 15px;
                background: $iconColor;
                transition: $transition;
            }
        }
        p{
            color: $secondFontColor;
            margin-bottom: 7px;
            cursor: pointer;
            transition: $transition;
            &:hover{
                color: $firstFontColor;
            }
        }

    }

    .footer-contact{
        @include bek-flex(center, column);
        padding: 20px 0 30px;
        .footer-contact-info{
            display: flex;
            justify-content: space-around;
            div{
                @include bek-flex(space-between, column);
                align-items: center;
                p{
                    margin-top: 8px;
                }
            }

            .footer-contact-icon{
                margin-bottom: 5px;
                color: $iconColor;
                font-size: 1.4rem;
            }

        }

    }

    .footer-bottom{
        @include bek-flex(center, column);
        align-items: center;
        padding: 25px  0 15px;
        h3{
            margin-bottom: 10px;
        }
    }
}