@import "../../assets/scss/vars.scss";

.footer-wrapper{
    background-color: $secondBackground;
    @include bek-flex(center, column);
    margin-top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    .footer-hr{
        margin: 0;
        padding: 0;
        color: $iconColor;
        background-color: $iconColor;
    }
    .footer-top{
        @include bek-flex(space-evenly, row);
        padding: 50px;
        p{
            margin: 0;
            padding: 6px 0;
        }
        .footer-top-shipping{
            @include bek-flex(space-between, row);
            align-items: center;
            .footer-top-shipping-image{
                @include bek-flex(center,column);
                background-color: $secondFontColor;
                border-radius: 50%;
                height: 5rem;
                width: 5rem;
                align-items: center;
                .footer-icon{
                    color: $iconColor;
                    font-size: 2rem;
                }
            }
            .footer-top-shipping-info{
                padding-left: 20px;
                p:last-child{
                    color: $secondFontColor;
                }
            }
        }
        .footer-top-gift{
            @extend .footer-top-shipping;
            .footer-top-gift-image{
                @extend .footer-top-shipping-image;
            }
            .footer-top-gift-info{
                @extend .footer-top-shipping-info;
            }
        }
        .footer-top-support{
            @extend .footer-top-shipping;
            .footer-top-support-image{
                @extend .footer-top-shipping-image;
            }
            .footer-top-support-info{
                @extend .footer-top-shipping-info;
            }
        }
        .footer-top-payment{
            @extend .footer-top-shipping;
            .footer-top-payment-image{
                @extend .footer-top-shipping-image;
            }
            .footer-top-payment-info{
                @extend .footer-top-shipping-info;
            }
        }

    }

    .footer-contact{
        @include bek-flex(center, column);
        padding: 10px;
        .footer-contact-info{
            display: flex;
            justify-content: space-around;
            div{
                @include bek-flex(space-between, column);
                align-items: center;
                p{
                    margin-top: 8px;
                }
            }

            .footer-contact-icon{
                margin-bottom: 5px;
                color: $iconColor;
                font-size: 1.4rem;
            }

        }

    }

    .footer-main{
        @include bek-flex(space-evenly, row);
        padding: 30px;
        text-transform: capitalize;

        h4{
            font-size: 1.4rem;
            &::after{
                display: block;
                content: "";
                width: 30%;
                height: 2px;
                margin: 8px 0 15px;
                background: $iconColor;
            }
        }
        p{
            color: $secondFontColor;
        }

    }
    .footer-bottom{
        @include bek-flex(center, column);
        align-items: center;
        padding: 25px  0 5px;
    }
}