@import '../../../assets/scss/vars.scss';
@import '../../../assets/scss/include-media.scss';

.all-users-wrapper{
    .all-users-table{
        box-shadow: 2px 2px 5px 3px $firstBackground;
        margin: 0 auto;
        width: 100%;
        // background-color: green;
        @include bek-table;
        font-size: 1.2rem;
        color: $firstBackground;
        .all-users-btns{
            .all-users-edit{
                color: $firstBackground;
                font-size: 1.4rem;
                margin: 20px 0;
                cursor: pointer;
                &:hover{
                    transform: scale(1.25);
                }
            }
            .all-users-delete{
                @extend .all-users-edit;
                margin-left: 15px;
                color: red;
            }

        }
    }
}

@include media("<=phone"){
    .all-users-wrapper{
        .all-users-table{
            font-size: .9rem;
            @include bek-table-responsive;
            td{
                padding: 0;
            }
            tr{
                padding: 0;
            }
            .all-users-btns{
                @include bek-flex(flex-start, row);
                padding: 5px ;
                .all-users-edit{
                    font-size: .8rem;
                    margin: 5px;
                }
            }
        }
    }
}

@include media(">phone", "<=tablet"){
    .all-users-wrapper{
        .all-users-table{
            font-size: .9rem;
            @include bek-table-responsive;
            td{
                padding: 0;
            }
            tr{
                padding: 0;
            }
            .all-users-btns{
                @include bek-flex(flex-start, row);
                padding: 5px ;
                .all-users-edit{
                    font-size: .8rem;
                    margin: 5px;
                }
            }
        }
    }
}