@import '../../assets/scss/vars.scss';
@import "../../assets/scss/include-media.scss";

.user-account-wrapper{
    @include container;
    @include bek-flex(center, column);
    align-items: center;
    padding: 0 50px 20px;
    font-size: 1.2rem;
    .user-account-data{
        min-width: 70%;
        padding: 7px;
        // background-color: red;
        .user-account-data-details{
            @include bek-flex(space-between, row);
            align-items: center;
            margin-bottom: 20px;
            background-color: $secondBackground;
            padding: 10px 40px;
            h4{
                text-transform: capitalize;
            }
            .user-account-data-details-user{
                // font-size: 1rem;
                text-align: center;
                height: 35px;
                @include bek-flex(center, column);
                // color: $iconColor;
                &.input{
                    @include input-style;
                    font-size: 1rem;
                    text-align: center;
                    border: none;
                    background-color: $secondFontColor;
                    color: $firstBackground;
                    font-weight: 600;
                }
            }
        }
    }
    .user-account-edit-btn{
        @include bek-btn;
        margin: 0;
        width: 150px;
    }
}

@include media("<=phone"){
    .user-account-wrapper{
        width: 95%;
        padding: 0;
        font-size: .9rem;
        .user-account-data{
            min-width: 95%;
            padding: 0px;
            .user-account-data-details{
                @include bek-flex(space-between, row);
                padding: 10px 15px;
            }
        }
        .user-account-edit-btn{
            @include bek-btn-responsive;
        }
    }
}

@include media(">phone", "<=tablet"){
    .user-account-wrapper{
        width: 95%;
        padding: 0;
        font-size: .9rem;
        .user-account-data{
            min-width: 95%;
            padding: 0px;
            .user-account-data-details{
                @include bek-flex(space-between, row);
                padding: 10px 15px;
            }
        }
        .user-account-edit-btn{
            @include bek-btn-responsive;
        }
    }
}

@include media(">=tablet", "<desktop"){
    .user-account-wrapper{
        width: 85%;
        padding: 0;
        font-size: .9rem;
        .user-account-data{
            min-width: 85%;
            padding: 0px;
            .user-account-data-details{
                @include bek-flex(space-between, row);
                padding: 10px 15px;
            }
        }
        .user-account-edit-btn{
            @include bek-btn-responsive;
        }
    }
}