@import '../../assets/scss/vars.scss';
@import '../../assets/scss/include-media.scss';

.shop-cart-badge-wrapper{
    display: none;
    position: fixed;
    background-color: $firstBackground;
    border-radius: 50%;
    &.position-top{
        top: 70px;
        right: 15px;
    }
    &.position-bottom{
        top: 70px;
        right: 15px;
    }
    .shop-cart-badge-btn{
        @include bek-flex(center, column);
        align-items: center;
        box-shadow: 0px 0px 5px 2px $firstFontColor;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: $firstBackground;
        cursor: pointer;
        transition: $transition;
        &:hover{
            color: $firstFontColor;
        }
    }
}

@include media("<=phone"){
    .shop-cart-badge-wrapper{
        display: block;
    }
}

@include media(">phone", "<=tablet"){
    .shop-cart-badge-wrapper{
        display: block;
    }
}

@include media(">=tablet", "<desktop"){
    .shop-cart-badge-wrapper{
        display: block;
    }
}