@import "../../assets/scss/vars.scss";
@import "../../assets/scss/include-media.scss";

.header-wrapper{
    width: 40%;
    // margin: auto;
    padding: 15px 0 30px 40px;
    .header-page-title{
        font-size: 1.7rem;
        color: $iconColor;
        // text-shadow: 0 0  2px $firstFontColor;
        text-transform: uppercase;
        // background-color: white;
        &::after{
            display: block;
            content: "";
            width: 70%;
            height: 2px;
            margin-top: 3px;
            background: $iconColor;
        }
    }
}

@include media("<=phone"){
    .header-wrapper{
        width: 60%;
        padding: 15px 0 20px 20px;
        .header-page-title{
            font-size: 1.5rem;
            &::after{
                width: 100%;
            }
        }
    }
}

@include media(">phone", "<=tablet"){
    .header-wrapper{
        width: 60%;
        padding: 15px 0 20px 20px;
        .header-page-title{
            font-size: 1.5rem;
            &::after{
                width: 100%;
            }
        }
    }
}