@import "../../assets/scss/vars.scss";
.header-wrapper{
    width: 40%;
    // margin: auto;
    padding: 15px 0 30px 40px;
    .header-page-title{
        font-size: 1.7rem;
        color: $iconColor;
        // text-shadow: 0 0  2px $firstFontColor;
        text-transform: uppercase;
        // background-color: white;
        &::after{
            display: block;
            content: "";
            width: 60%;
            height: 2px;
            margin-top: 3px;
            background: $iconColor;
        }
    }
}