@import '../../assets/scss/vars.scss';
@import '../../assets/scss/include-media.scss';

.my-resume-wrapper{
    box-shadow: 0 0 5px 5px $iconColor;
    @include bek-flex(space-between, row);
    width: 80%;
    margin: 0 auto;
    .my-resume-header{
        text-align: center;
        width: 100%;
        background-color: $firstBackground;
        padding: 70px 50px;
        text-transform: uppercase;
        h2{
            font-size: 2.5rem;
            letter-spacing: 1rem;
            margin-bottom: 30px;
        }
        h3{
            letter-spacing: 1rem;
            margin-bottom: 30px;
        }
        p{
            letter-spacing: .3rem;
        }
    }
    .my-resume-aside{
        // text-align: center;
        flex: 2;
        @include bek-flex(flex-start, column);
        background-color: $firstBackground;
        padding: 25px;
        h2{
            color: $secondFontColor;
            text-transform: uppercase;
            &::after{
                display: block;
                content: "";
                width: 70%;
                height: 2px;
                margin: 3px 0 5px 0;
                background: $secondFontColor;
            }
        }
        a{
            color: $firstFontColor;
            transition: $transition;
            &:hover{
                color: $iconColor;
            }
        }
        .aside-contact{
            margin-bottom: 20px;
            .aside-contact-items{
                @include bek-flex(flex-start, column);
                .aside-contact-items-holder{
                    @include bek-flex(flex-start, row);
                    align-items: center;
                    margin: 15px 0px 10px;
                    .contact-icon{
                        color: $iconColor;
                        font-size: 1.5rem;
                    }
                    p{
                        margin-left: 15px;
                    }
                }
            }
        }
        .aside-skils{
            margin-bottom: 20px;
            .aside-skils-items{
                .aside-skils-items-holder{
                    @include bek-flex(flex-start, row);
                    align-items: center;
                    margin: 15px 10px;
                    text-transform: uppercase;
                    .skils-icon{
                        color: $iconColor;
                        font-size: 1.5rem;
                    }
                    p{
                        box-shadow: 0 0 3px 1px white;
                        padding: 0 5px;
                        margin-left: 15px;
                        letter-spacing: .1rem;
                    }
                }
            }
        }
        .aside-languages{
            .aside-languages-items{
                @include bek-flex(flex-start, row);
                align-items: center;
                margin: 15px 10px;
                text-transform: uppercase;
                .language-icon{
                    color: $iconColor;
                    font-size: 1.5rem;
                }
                p{
                    margin-left: 15px;
                    letter-spacing: .1rem;
                }
            }
        }
    }
    .my-resume-main{
        flex: 4;
        background-color: $secondBackground;
        padding: 25px;
        .main-profile{
            .main-profile-title{
                background-color: $iconColor;
                padding: 10px;
                text-transform: uppercase;
            }
            .main-profile-contnet{
                text-align: justify;
                padding: 15px;
                font-size: 1rem;
                line-height: 1.7rem;
                letter-spacing: .1rem;
            }
        }
        .main-education{
            .main-education-title{
                background-color: $iconColor;
                padding: 10px;
                text-transform: uppercase;
            }
            .main-education-content{
                padding: 15px;
                font-size: 1rem;
                line-height: 1.7rem;
                letter-spacing: .1rem;
                .education-content-subtitle{
                    font-weight: 600;
                    text-transform: uppercase;
                }
                .education-content-info{
                    margin-left: 25px;
                }
            }
        }
        .main-courses{
            .main-courses-title{
                background-color: $iconColor;
                padding: 10px;
                text-transform: uppercase;
            }
            .main-courses-content{
                padding: 15px;
                font-size: 1rem;
                line-height: 1.7rem;
                letter-spacing: .1rem;
                .courses-content-subtitle{
                    font-weight: 600;
                    text-transform: uppercase;
                }
                .courses-content-info{
                    margin-left: 25px;
                }
            }
        }
    }
}


@include media("<=phone"){
    .my-resume-wrapper{
        width: 100%;
        .my-resume-header{
            text-align: center;
            width: 100%;
            padding: 20px 5px;
            background-color: $secondBackground;
            h2{
                font-size: 1rem;
                letter-spacing: normal;
                margin-bottom: 10px;
            }
            h3{
                letter-spacing: normal;
                margin-bottom: 10px;
            }
            p{
                letter-spacing: normal;
            }
        }
        .my-resume-aside{
            text-align: center;
            padding: 25px 10px;
            h2{
                &::after{
                    content: "";
                    width: 100%;
                }
            }
        }
        .my-resume-main{
            display: none;
        }
    }
}


@include media(">phone", "<=tablet"){
    .my-resume-wrapper{
        width: 100%;
        .my-resume-header{
            text-align: center;
            width: 100%;
            padding: 20px 10px;
            background-color: $secondBackground;
            h2{
                font-size: 1.5rem;
                letter-spacing: .1rem;
                margin-bottom: 10px;
            }
            h3{
                letter-spacing: normal;
                margin-bottom: 10px;
            }
            p{
                letter-spacing: normal;
            }
        }
        .my-resume-aside{
            text-align: center;
            padding: 25px 15px;
            h2{
                &::after{
                    content: "";
                    width: 100%;
                }
            }
        }
        .my-resume-main{
            display: none;
        }
    }
}

@include media(">=tablet", "<desktop"){
    .my-resume-wrapper{
        width: 100%;
        margin: 0 auto;
        .my-resume-header{
            width: 100%;
            padding: 50px 30px;
            text-transform: uppercase;
            h2{
                font-size: 2rem;
            }
        }
        .my-resume-aside{
            padding: 25px 15px;
            h2{
                &::after{
                    width: 100%;
                }
            }
            .aside-contact{
                .aside-contact-items{
                    .aside-contact-items-holder{
                        p{
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        .my-resume-main{
            padding: 15px;
            .main-profile{
                .main-profile-contnet{
                    padding: 15px 0;
                    font-size: 1rem;
                    line-height: 1.2rem;
                    letter-spacing: normal;
                }
            }
            .main-education{
                .main-education-content{
                    padding: 15px 0;
                    font-size: 1rem;
                    line-height: 1.2rem;
                    letter-spacing: normal;
                }
            }
            .main-courses{
                .main-courses-content{
                    padding: 15px 0;
                    font-size: 1rem;
                    line-height: 1.2rem;
                    letter-spacing: normal;
                }
            }
        }
    }
}