@import "../../assets/scss/vars.scss";

.product-single-wrapper{

    max-width: 22%;
    @include bek-flex(center,row);
    // flex: 1;
    .product-card{
        background-color: $secondBackground;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;

        // border: 3px solid white;
        // padding: 10px;
        border-radius: 5px;
        // max-width: 90%;
        .product-card-img{
            width: 100%;
            height: 100%;
            @include bek-flex(center,row);
            align-items: center;
            img{
                width: 95%;
                margin: 0 auto;
            }
        }
        .product-card-info{
            margin-top: 10px;
            width: 100%;
            background-color: red;
        }
    }

}