@import "../../assets/scss/vars.scss";
@import "../../assets/scss/include-media.scss";


.nav-wrapper{
    background-color: $secondBackground;
    padding: 25px 50px;
    color: $secondFontColor;
    font-weight: 500;
    font-size: 1.3rem;
    a{
        color: $secondFontColor;
        margin-right: 20px;
        &:hover{
            color: $iconColor;
            transition: $transition;
        }
        &.active{
            color: $iconColor;
        }
    }
    p{
        font-size: 0.9rem;
    }

    .main-nav{
        @include bek-flex(space-between,row );
        .main-nav-links{
            @include bek-flex(flex-start, row );
            // @include bek-flex(center, column );
            align-items: center;
            .logo{
                font-size: 2rem;
                color: $iconColor;
                @include bek-rotate(15s, infinite, linear);
            }
        }

        .main-nav-user{
            @include bek-flex(flex-start,row );
            align-items: center;
            .main-nav-user-cart{
                @include bek-flex(flex-start,row );
                align-items: center;
                margin-right: 20px;
                .cart{
                    color: $iconColor;
                    font-size: 1.4rem;
                }
                .main-nav-user-wallet{
                    font-size: 1rem;
                    color: $secondFontColor;
                    margin-left: 5px;
                    span{
                        color: $secondFontColor;
                    }
                }
                .positive{
                    color: yellowgreen;
                }
            }
            .main-nav-user-search{
                @include bek-flex(flex-start, row);
                align-items: center;
                border: 1px solid $secondFontColor;
                border-radius: 3px;
                color: $iconColor;
                padding-right: 5px;
                input[type=search]{
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: $iconColor;
                    padding: 5px 0 5px 15px;
                }
                
                margin-right: 20px;
            }
            .main-nav-user-profile{
                @include bek-flex(flex-start, row);
                margin-right: 20px;
                .main-nav-user-profile-info{
                    @include bek-flex(flex-start,row);
                    align-items: center;
                    cursor: pointer;

                    .user-icon{
                        margin-right: 8px;
                        color: $iconColor;
                    }
                    .user-icon-down{
                        margin-left: 5px;  
                    }
                }
                // .main-nav-user-profile-signin{
                //         background-color: red;
                // }
            }
        }
    }
    .responsive-nav{
        // @include bek-flex(space-between, row);
        display: none;
        .responsive-nav-title{
            @include bek-flex(flex-start, row);
            align-items: center;
            .logo{
                @include bek-flex(flex-start, row);
                align-items: center;
                font-size: 2rem;
                color: $iconColor;
                margin: 0;
                @include bek-rotate(15s, infinite, linear);
            }
            .title{
                font-size: 1rem;
                margin: 0 10px;
            }
        }
        .responsive-nav-btn{
            border: 1px solid white;
            width: 50px;
            border-radius: 5px;
            @include bek-flex(center, column);
            align-items: center;
            font-size: 1.6rem;
        }
    }
}

.responsive-meni{
    // @include bek-flex(center, column);
    // align-items: center;
    display: none;
    background-color: $secondFontColor;
    // padding: 10px;
    .responsive-meni-links{
        @include bek-flex(center, column);
        align-items: center;
        color: black;
        font-weight: 500;
        font-size: 1.1rem;
        width: 100%;
        padding: 10px 0;
        &.active{
            color: $iconColor;
        }
        &.user-profile{
            background-color: $secondBackground;
            padding: 20px 10px;
            @include bek-flex (center, row);
            align-items: center;
            color: $secondFontColor;
            .user-profile-name{
                margin-left: 15px;
                font-weight: 600;
            }
        }
    }
}

@include media("<=phone"){
    .nav-wrapper{
        padding: 15px 20px;
        .main-nav{
            display: none;
        }
        .responsive-nav{
            @include bek-flex(space-between, row);
        }
    }
    .responsive-meni{
        @include bek-flex(center, column);
        align-items: center;
    }
}

@include media(">phone", "<=tablet"){
    .nav-wrapper{
        padding: 15px 20px;
        .main-nav{
            display: none;
        }
        .responsive-nav{
            @include bek-flex(space-between, row);
        }
    }
    .responsive-meni{
        @include bek-flex(center, column);
        align-items: center;
    }
}

@include media(">=tablet", "<desktop"){
    .nav-wrapper{
        padding: 15px 20px;
        .main-nav{
            display: none;
        }
        .responsive-nav{
            @include bek-flex(space-between, row);
        }
    }
    .responsive-meni{
        @include bek-flex(center, column);
        align-items: center;
    }
}