@import '../../../assets/scss/vars.scss';

.all-subs-wrapper{
    .all-subs-table{
        box-shadow: 2px 2px 5px 3px $firstBackground;
        margin: 0 auto;
        width: 100%;
        // background-color: green;
        @include bek-table;
        font-size: 1.2rem;
        color: $firstBackground;
        font-weight: 500;
        tbody{
            tr{
                th{
                    padding: 10px;
                }
            }
        }
    }
}