@import "../../assets/scss/vars.scss";
@import "../../assets/scss/include-media.scss";

.shop-wrapper{
    @include container;
    .shop-cards-holder{
        @include bek-flex(space-between, row);
        gap: 15px 0px;
        & > div {
            max-width: 300px;
        }
    }
    h2{
        width: 100%
    }
}
@include media("<=phone"){
    .shop-wrapper{
        width: 90%;
        .shop-cards-holder{
            @include bek-flex(space-between, column);
            align-items: center;
            & > div {
                max-width: 300px;
            }
        }
    }
}

@include media(">phone", "<=tablet"){
    .shop-wrapper{
        width: 90%;
        .shop-cards-holder{
            @include bek-flex(space-between, column);
            align-items: center;
            & > div {
                max-width: 350px;
            }
        }
    }
}