@import "./vars.scss";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// Firefox scrool
*{
    scrollbar-width: thin;
    scrollbar-color: $iconColor $secondBackground;
}
//Chrome scrool
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: $secondBackground;
}
*::-webkit-scrollbar-thumb {
    background-color: $iconColor;
    border-radius: 20px;
}

a{
    // color: $secondFontColor;
    text-decoration: none;
}
body{
    background-color: $firstBackground;
    color: $firstFontColor;
    font-family: $fontF;
    font-size: 16px;
}
.app-wrapper{
    background-color: $firstBackground;
    height: 100vh;
}