@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&display=swap');
@import './include-media.scss';

// *VARS
$firstBackground: #121212;
$secondBackground: #252525;
$iconColor: #f73611;
$firstFontColor:  #ffffff;
$secondFontColor: #a7a4a4;
$transition:  0.5s ease-in;
$borderFont: rgb(199, 194, 194);
$fontF: Orbitron;

// $jkdjaks: #0e0e0ec5

// *MIXINS
@mixin bek-flex($justify, $direction){
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    flex-direction: $direction;
}
@mixin bek-btn{
    padding: 10px 25px;
    letter-spacing: .1rem;
    background-color: $iconColor;
    font-size: 1rem;
    font-family: $fontF;
    font-weight: 500;
    color: $firstFontColor;
    text-shadow: 2px 2px 2px black;
    margin: 20px;
    border: none;
    border-radius: 2px;
    transition: $transition;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid $firstBackground;
    &:hover{
        border: 1px solid $firstFontColor;
    }
}
@mixin bek-btn-responsive {
    padding: 5px 10px;
    background-color: $iconColor;
    font-size: 1rem;
    font-family: $fontF;
    font-weight: 500;
    color: $firstFontColor;
    text-shadow: 1px 1px 2px black;
    border: none;
    border-radius: 2px;
    transition: $transition;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid $firstBackground;
    &:hover{
        border: 1px solid $firstFontColor;
    }
}
@mixin input-style{
    border: 1px solid $secondFontColor;
    border-radius: 3px;
    color: $iconColor;
    background-color: $secondBackground;
    outline: none;
    color: $firstFontColor;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 5px 10px;
    margin-top: 5px;
    &:focus{
        background-color: $secondFontColor;
        color: black;
    }
}
@mixin container{
    width: 80%;
    margin: auto;
    // padding: 50px 0;
}
@mixin bek-table {
    text-align: center;
    border-collapse: collapse;
    img{
        width: 70px;
        padding: 10px 0;
    }
    // table,th,td{
    //     border: 2px solid $firstBackground;
    // }
    tr{
        &:nth-child(odd){
            background-color: $firstFontColor;
        }
        &:nth-child(even){
            background-color: $secondFontColor;
        }
    }
    thead{
        color: $iconColor;
        font-size: 1.2rem;
        border-bottom: 1px solid $iconColor;
        tr{
            margin-bottom: 10px;
            th{
                padding: 15px 0;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
        }
    }
}

@mixin bek-rotate($duration, $time, $type) {
    animation: rotation $duration $time $type;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@mixin small-phone-view {
    @include media("<=phone"){
        background-color: red;
    }
}
@mixin standard-phone-view {
    @include media(">phone", "<=tablet"){
        background-color: whitesmoke;
    }
}
@mixin tablet-view {
    @include media(">=tablet", "<desktop"){
        background-color: blue;
    }
}
@mixin desktop-view {
    @include media(">=desktop"){
        background-color: greenyellow;
    }
}
